<div class="header container">
    <header class="navbar">
        <section class="navbar-section">
            <a href="index" class="navbar-brand mr-2 text-bold">
                Home
            </a>
        </section>
        <section class="navbar-section">
            <a href="login" class="btn btn-link">
                Login
            </a>
            <a href="register" class="btn btn-link">
                Register
            </a>
        </section>
    </header>
</div>
<div class="divider"></div>