<head>
    <title><%= title; %></title>
    <%- include('css-setup') -%>
</head>

<body>
    <%- include('header'); -%>
    <div class="content container">

    </div>
    <%- include('footer'); -%>
</body>